.navbar {
    background-color: #001840;
    width: 100%; height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link {
    color: #FFFDF0 !important; /* Use !important to override Bootstrap styles */
}






/* Style for the search form */
.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    margin-bottom: 5px;
    margin-top: 5px;
}

.search-input {
    width: 250px; /* Adjust the width as needed */
    padding: 5px;
    border-radius: 50px;
    border: 1px solid #FFFDF0;
    background-color: #3A658E;
    color:#FFFDF0;
    outline: none;
}
.search-input::placeholder {
    color: #FFFDF0; /* Change the color of the placeholder text */
}

.fas.fa-search {
    background-color: transparent; /* Button background color */
    color: #FFFDF0; /* Button text color */
    border: none;
    padding: 18px 18px; /* Adjust padding as needed */
    border-radius: 50px;
    margin-left: -45px; /* Adjust the margin to align with the input */
    cursor: pointer;
}
/*login and sign-up buttons */
.icons {
    display: flex; /* Align buttons horizontally */
    align-items: center;
    margin-bottom: 1px;
    margin-right: 20px;
    font-size: 15px;
}
.icons a.button {
    padding: 8px 12px; /* Adjust padding to increase button size */
    margin-left: 10px; /* Adjust the margin between buttons */
    text-decoration: none;
    color: #007bff; /* Button text color */
    border: 1px solid #007bff; /* Button border color */
    border-radius: 5px;
    font-size: 12px; /* Reduce font size for button text */
}

.icons a.button:hover {
    background-color: #F5C400; /* Button background color on hover */
    color: #212120; /* Button text color on hover */
}





/* Home section styling */
.Home {
    position: relative;
    padding: 105px; /* Add 'px' to specify the padding value */
    overflow: hidden;
}

.Video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Use 'vw' (viewport width) instead of '%' for better responsiveness */
    height: 100vh; /* Use 'vh' (viewport height) instead of '%' for better responsiveness */
    z-index: -1;
    overflow: hidden; /* Ensure that the video doesn't overflow its container */
}

.Video video {
    width: 100%; /* Set width to '100%' to fill the container */
    height: 100%; /* Set height to '100%' to fill the container */
}

/* Text styling */

.Content {
    display: flex;
    justify-content: left; /* Align content to the right */
    max-width: 600px; /* Adjust as needed */
    margin-top: -4%;
    margin-left: 55%;
}

/* Text styling */
.Text {
    text-align: left; /* Align text to the right */
}

.Text h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #F5C400; /* Text color */
    font-weight: bolder;
    margin-bottom: 1px;
}

.Text span {
    font-size: 18px;
    font-style: italic;
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: bold;
}

.Text p {
    font-size: 16px;
    line-height: 1.6;
}

/* Button styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F5C400; /* Button background color */
    color: #212120; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FFD700; /* Button background color on hover */
}




/* */
.Dive {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('img/dive.jpg'); /* Set the background image */
    background-size: cover;
    background-size: 100%;
    padding: 110px 0;
    text-align: center; /* Center align content */
    margin-top: 0%;
    margin-bottom: 0%;
}





/* Styles for the Why AILearn section */
/* OUR VALUES*/

.background-container {
    /* Apply background to the entire container */
    background-image: url('img/WABG.jpg');
    background-size: 100%; /* Ensure the entire background image is visible */
    background-position: center;
    background-repeat: no-repeat;
}

.WAS {
    padding: 20px 0; /* Adjust padding as needed */
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #001840; /* Example text color */
}

.section-title1 {
    text-align: left;
    margin-bottom: 20px;
    font-weight:bolder;
    color: #001840; /* Example text color */
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transform transition */
}

.card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Deepen the shadow */
    transform: scale(1.05); /* Slightly enlarge the card */
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: #333;
    font-weight: bold;
}

.card-text {
    color: #666;
    overflow: hidden;
    max-height: 100px; /* Adjust the maximum height of the initial display */
    transition: max-height 0.3s ease;
}

.card-text.show {
    max-height: none; /* Show full content when .show class is added */
}




/* Style for OUR GOALS*/
.OG {
    padding: 10px 0; /* Adjust padding as needed */
}

.section-title2 {
    text-align: left;
    margin-bottom: 20px;
    font-weight:bolder;
    color: #001840; /* Example text color */
}
.carousel-item img {
    max-width: 100%; /* Adjust the maximum width of the images */
    height: auto; /* Maintain aspect ratio */
    
}

.carousel-indicators {
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%); /* Adjust the percentage value */
    color: white; /* Text color */
    padding: 40px; /* Padding around the caption */
}
  
  /* Style for carousel controls */
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%; /* Adjust the width of controls */
    background-color: none;
  }
  
  /* Style for carousel control icons */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%); /* Invert control icons */
  }
  
  /* Hide the previous and next text labels */
  .carousel-control-prev span,
  .carousel-control-next span {
    display: none;
  }

/* Learner's review*/

.section-title3 {
    text-align: left;
    margin-bottom: 20px;
    font-weight:bolder;
    color: #001840; /* Example text color */
}

.LR .container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap; /* Allow cards to wrap when screen size is smaller */
}

.LR .card1 {
    flex: 0 0 10%; /* Adjust width of each card */
    background-color: #001840; /* Change card color */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 10px;
}

.LR .card1 h3 {
    color: #D9EEDB;
    font-size: 24px;
    margin-bottom: 10px;
}

.LR .card1 .rating-stars {
    color: #FFD700; /* Adjust star color */
    margin-bottom: 10px;
}

.LR .card1 .rating-stars i {
    font-size: 20px; /* Adjust star size */
}

.LR .card1 p {
    color: #D9EEDB;
    font-size: 16px;
    line-height: 1.5;
}

/**/
.LR .card2 {
    flex: 0 0 20%; /* Adjust width of each card */
    background-color: #001840; /* Change card color */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 10px;
}

.LR .card2 h3 {
    color: #D9EEDB;
    font-size: 24px;
    margin-bottom: 10px;
}

.LR .card2 .rating-stars {
    color: #FFD700; /* Adjust star color */
    margin-bottom: 10px;
}

.LR .card2 .rating-stars i {
    font-size: 20px; /* Adjust star size */
}

.LR .card2 p {
    color: #D9EEDB;
    font-size: 16px;
    line-height: 1.5;
}

/**/
.LR .card3 {
    flex: 0 0 20%;
    background-color: #001840;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 70%;
    margin-left: -20%;
    align-self: left; /* Align to the left */
}


.LR .card3 h3 {
    color: #D9EEDB;
    font-size: 24px;
    margin-bottom: 10px;
}

.LR .card3 .rating-stars {
    color: #FFD700; /* Adjust star color */
    margin-bottom: 10px;
}

.LR .card3 .rating-stars i {
    font-size: 20px; /* Adjust star size */
}

.LR .card3 p {
    color: #D9EEDB;
    font-size: 16px;
    line-height: 1.5;
}

/**/

.WLSAB {
    margin-top: 30%;
    margin-left: -100px;
}
.section-title3 {
    text-align: left;
    margin-bottom: 20px;
    font-weight:bolder;
    color: #001840; /* Example text color */
}

.ratings-box {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 30px; /* Use a large value for border-radius to create a cylindrical shape */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px; 
    height: 80px;
}

.ratings {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    padding: 15px;
}

.ratings h3 {
    font-weight: bold;
    color: #001840;
    margin-bottom: 10px;
    margin-top: -5px;
    flex: 1; /* Allow the text to grow to fill available space */
}

.ratings .fa-star,
.ratings .fa-star-half-alt {
    color: #FFD700;
    font-size: 16px;
    margin-right: 5px;
    margin-top: -5px;
}




/*Authors*/

/* Existing CSS styles */
.Authors {
    padding: 20px 0; /* Adjust padding as needed */
    background-color: #F5C400;
}

.section-title1 {
    text-align: left;
    margin-bottom: 20px;
    font-weight:bolder;
    color: #001840; /* Example text color */
}

.card1 {
    width: 300px; /* Adjust the width as needed */
    height: 410px; /* Adjust the height as needed */
    border: 0px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transform transition */
    background-color: #FFD700;
}


.card1 h3{
    color: #001840;
    margin-bottom: 2px;
    margin-top: -5%;
    font-size: 20px;
    font-weight: bold;
}

.card1 p.short-description{
    color: #001840;
    margin-bottom: 5px;
    font-size: 13px;
    
}

.card1:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Deepen the shadow */
    transform: scale(1.05); /* Slightly enlarge the card */
}

.card1-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card1-body {
    padding: 50px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    margin: 0 5px;
    color: #001840;
    font-size: 20px;
}

/* Add more specific styles for individual icons if needed */



/*footer*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('img/Footpics.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire footer area */
    color: #fff; /* Light text color */
    padding: 50px 0; /* Add padding */
    text-align: center; /* Center align content */
}


.column1 {
    width: 30%; /* Set width for columns */
    text-align: right; /* Align text to the left */
    padding: 0 20px; /* Add padding to the sides */
    margin-top: 5%;
    margin-left: 5%;
}

.column2{
    width: 30%; /* Set width for columns */
    text-align: center; /* Align text to the left */
    padding: 0 20px; /* Add padding to the sides */
    margin-top: 5%;
    margin-left: 5%;
}

.column3{
    width: 40%; /* Set width for columns */
    text-align: left; /* Align text to the left */
    padding: 0 20px; /* Add padding to the sides */
    margin-top: 5%;
    margin-left: 5%;
}

.column1 img {
    width: 200px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add space below image */
    align-self: left;
}

.column1 h5 {
    margin-top: 0; /* Remove default margin */
}

.column1 h3,
.column2 h3,
.column3 h3 {
    margin-top: 0; /* Remove default margin */
}

.column1 ul,
.column2 ul,
.column3 ul {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
}

.column1 ul li,
.column2 ul li,
.column3 ul li {
    margin-bottom: 10px; /* Add space between list items */
}

.social-icons {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
}

.social-icons li {
    display: inline-block; /* Display icons inline */
    margin-right: 10px; /* Add space between icons */
}

.social-icons li:last-child {
    margin-right: 0; /* Remove margin from last icon */
}

.social-icons a {
    color: #fff; /* Set icon color */
    font-size: 24px; /* Adjust icon size */
}

.social-icons a:hover {
    color: #FFA500; /* Change color on hover */
}



  


